{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class=" container mt-5" name="reportes">
  <h3>Reportes</h3>
  <form action="" method="get" name="form">
    <div class="form-group">
      <label for=""></label>
      <select class="custom-select" name="options" id="options">
        <option selected>Select one</option>
        <option value="1">anual</option>
        <option value="2">semestral</option>
        <option value="3">trimestral</option>
        <option value="4">bimestral</option>
        <option value="5">mensual</option>
      </select>

      <select class="custom-select" name="anual" id="anual" disabled="disabled">

      </select>
    </div>
  </form>
</div>


{% endblock content %}