{% extends 'base.html' %}

{% block content %}
<div class="container contenedor">
    {% if object_list %}
    <h1 class="text-center">Lista de mantenimientos</h1>
    <table class="table table-lg-responsive table-striped">
        <thead>
            <th>ID</th>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Realizado</th>
        </thead>
        <tbody>
            {% for manto in object_list  %}
            <tr>
                <td>{{ manto.id }}</td>
                <td>{{ manto.fecha }}</td>
                <td>{{ manto.descripcion }}</td>
                {% if manto.aplicado %}
                <td>
                    <button class="btn btn-secondary">Hecho</button>
                    <a href="{% url 'manto:deleteManto' manto.id %}" class="btn btn-danger">Eliminar</a>
                </td>
                {% else %}
                <td>
                    <a href="{% url 'manto:checkList' manto.id %}" class="btn btn-success">Pendiente</a>
                    <a href="{% url 'manto:updateManto' manto.id %}" class="btn btn-primary">Modificar</a>
                    <a href="{% url 'manto:deleteManto' manto.id %}" class="btn btn-danger">Eliminar</a>
                </td>
                {% endif %}
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1 class="text-center">No hay mantenimientos registrados</h1>
    {% endif %}
</div>
{% endblock content %}